/project/var/bootstrap.php.cache
/project/var/cache/*
/project/var/logs/*
/project/web/*
!/project/web/api.php
!/project/web/backoffice/.gitkeep
!/project/web/upload/.gitkeep
!/project/web/uploads/.gitkeep
!/project/web/download
!/project/var/downloads/.gitkeep
!/project/var/chrome_data/.gitkeep
!/project/var/alg/.gitkeep
!project/var/cache/.gitkeep
!project/var/logs/.gitkeep
/project/bin/*
!project/bin/console
.vagrant/
puphpet/
.idea/
.DS_Store/
/build/
/project/vendor/
nbproject/
project/var/chrome_data/*
project/var/alg/*
project/var/downloads/*
project/app/config/parameters.yml
