.content__header {
    width: 100%;
    background: url("img/jpg/header_banner.jpg") no-repeat scroll center;
    background-size: cover;
}

.header__menu {
    background: $menu_background;
    margin: 0 auto;
    padding: 15px 0;

}

.menu {
    width: 90%;
    margin: 0 auto;

}

.menu__logo {
    float: left;
}

.logo__icon {
    background: url("img/rocet.svg") no-repeat;

}

.logo__title {
    color: $navItem_white;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;

}

.menu__nav {
    float: right;
}

.nav__item {
    float: left;

}

.item__link {
    color: $navItem_white;
    margin-left: 30px;
    line-height: 2.5em;
    text-decoration: none;

        &:hover{ background: rgba(255, 255, 255, 0.35); }
}


