.title { font-size: 1.3em; font-weight: 700; text-align: center; margin-bottom: 5px; }


/*-------------first ways---------------*/
.block__cell--grey { background: grey; }
.block__cell--cyan { background: cyan; }

                 /*fixed*/

.block { width: 960px; display: table; margin-bottom: 20px; }
.block__row {  display: table-row;  }
.block__cell {  width: 480px;  display: table-cell; }
.block__content {}



                 /*fluid*/

.block1 { width: 86%; display: table; margin-bottom: 40px; }
.block__cell1 {  width: 50%;  display: table-cell; }
/*-------------first ways---------------*/




/*-------------second ways---------------*/

                 /*fixed*/

.section { margin: 0 auto; width: 960px; }

.col-wrap1 {  background: grey;  width: 480px;}
.col-wrap2 {
    width: 480px;
    position: relative;
    left: 480px;
    background: cyan;
}
.col-wrap1__col1 {
    width: 480px;
    left: -480px;
    position: absolute;
    float: left;
}
.col-wrap2__col2 { }




                 /*fluid*/

.section-2 { margin: 0 auto; width: 86%; }

.col-2-wrap1 {  background: grey;  width: 50%;}
.col-2-wrap2 {
    width: 100%;
    position: relative;
    background: cyan;
    left: 100%;
    margin-right: -100%;
}
.col-2-wrap1__col1 {
    width: 100%;
    position: relative;
    float: left;
    left: -100%;
    margin-right: -100%;
}
/*-------------second ways---------------*/
