.banner {width: 93%; margin: 0 auto; padding: 50px 0;}

.banner-cont {
    float: left;
    margin-right: $col-1;
    @extend %col-7;
}

.banner__title { padding-bottom: 10px; }


.banner__text {
    padding-top: 10px;
}


@import 'list';
@import 'trial-form';

