.header {
    width: 100%;
    background: url("img/jpg/header_banner.jpg") no-repeat scroll center;
    background-size: cover;
}


/*=============Header menu (navigation line)========================*/
@import 'header-nav-line';
/*=============Header menu (navigation line)========================*/


/*=============Header info========================*/
@import 'header-banner';
/*=============Header info========================*/
