.list {
    .list__item {
        color: $list-item-col-white;
        font-size: $text-font-size-m;
        line-height: $text-line-height;

        &:before {
            content: '';
            display: inline-block;
            text-indent: -9999px;
            width: 14px;
            height: 14px;
            background: url("img/check-marks.svg") no-repeat;
            background-size: contain;
            margin-right: 10px;
        }
    }
}
