*::selection { background: $cyan; color: #ffffff;}
* { box-sizing: border-box; }

body { font-family: 'Oxygen', sans-serif;  }

ul {
    list-style-type: none;
    font-size: 0.875em;      /* 14px / 16px = 0.875em */
}

a {  text-decoration: none; }



.text {
    font-size: $text-font-size-m;
    line-height: $text-line-height;
}
.text-s {
    font-size: $text-font-size-s;
    line-height: $text-line-height;
}

.text--white { color: $text-color-white; }
.text--black { color: $text-color-black; }
.text--pad-bottom {
    padding-bottom: 20px;
}



.title-h1 {
    font-size: $title-h1-l;
    color: $title-h1-white;
}
.title--bold { font-weight: bold; }




.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
