/*=================-Colors-================*/

/*background*/
$nav-line-bg: rgba(0, 0, 0, 0.37);
$form-header-bg: rgba(0, 0, 0, 0.4);
$form-bg: rgba(0, 0, 0, 0.37);


/*title*/
$title-h1-white: #ffffff;
$title-h1-black: #000000;
$title-form-white: #ffffff;


/*text*/
$text-color-white: rgba(255, 255, 255, 0.7);
$text-color-black: rgba(0, 0, 0, 0.7);


/*Navigations menu-link*/
$nav-menu-link: #ffffff;


/*List-item*/
$list-item-col-black: rgba(0, 0, 0, 0.7);
$list-item-col-white: rgba(255, 255, 255, 0.8);



/*brand colors*/
$cyan: #08b4da;

/*=================-Colors-================*/




/*=================-Fonts-size-================*/

/*title*/
$title-h1-l: 3.125em;
$title-form-font: 1.375rem;


/*text*/
$text-font-size-m: 0.875rem;
$text-font-size-s: 0.75rem;
$text-line-height: 1.5;

/*List-item*/

/*=================-Fonts-size-================*/
