.block__wrapper-fixed { width: 800px; margin: 0 auto; }
.block__wrapper-fluid { width: 75%; margin: 0 auto; }


.block {
    font-size: 0;
    margin-bottom: 20px;
    border: 1px solid #0000ff;
}

.block__1 {
    background: grey;
    width: 200px;
    height: 200px;
}
.block__2 {
    background: #00ffff;
    width: 70%;
    height: 200px;
}


.block__img { width: 300px;}

.block__3 { background: grey; }
.block__4 {
    width: 100%;
    background: #00ffff;
    height: 200px;
}



.block__5 {
    background: grey;
    width: 399px;
    height: 200px;
}
.block__6 {
    background: #00ffff;
    width: 399px;
    height: 200px;
}


.block__7 {
    background: grey;
    width: 50%;
    height: 200px;}
.block__8 {
    background: #00ffff;
    width: 50%;
    height: 200px;
}



.block--width-m { width: 800px; }

.block--inline-block { display: inline-block; }
.block--inline-block { display: inline-block; }

.block--float-l { float: left; }
.block--float-r { float: right; }


