*{ box-sizing: border-box; }

.content {
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}



/* Для первых двух вариантов
.block__wrapper {
    margin: 100px 0;
    border: 1px solid #0000ff;
}
*/



/*====================Left-Fixed; Right-Fluid================================
.block__left {
    float: left; /*Можно заменить на display: inline-block
    width: 250px;
    border: 1px solid #ff0000;
    height: 500px;
    margin: 5px;
}
.block__right {
    float: right; /*Можно заменить на display: inline-block
    width: 70%;
    border: 1px solid greenyellow;
    height: 500px;
    margin: 5px;
}
====================Left-Fixed; Right-Fluid================================*/






/*====================Left-Unknown; Right-Fluid================================
.block__left {
    float: left; /*Можно заменить на display: inline-block
    border: 1px solid #ff0000;
    margin: 5px;
}
.block__right {
    float: right; /*Можно заменить на display: inline-block
    width: 70%;
    border: 1px solid greenyellow;
    height: 500px;
    margin: 5px;
}
====================Left-Unknown; Right-Fluid================================*/





/*Two columns in one container centered horizontally
 on the screen with fixed width (800px)

.block__wrapper {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #0000ff;
}


.block__left {
    float: left;
    width: 28%;
    border: 1px solid #ff0000;
    height: 500px;
    margin: 1%;
}
.block__right {
    float: right;
    width: 68%;
    border: 1px solid greenyellow;
    height: 500px;
    margin: 1%;
}
 Two columns in one container centered horizontally
 on the screen with fixed width (800px)*/





 /*Two columns in one container centered horizontally
  on the screen with fluid width (75%)*/

.block__wrapper {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #0000ff;
    font-size: 0; /*При условии использования свойства display: inline-block*/
}


.block__left {
    float: left; /*Можно заменить на display: inline-block*/
    width: 28%;
    border: 1px solid #ff0000;
    height: 500px;
    margin: 1%;
}
.block__right {
    float: right; /*Можно заменить на display: inline-block*/
    width: 68%;
    border: 1px solid greenyellow;
    height: 500px;
    margin: 1%;
}
  /*Two columns in one container centered horizontally
  on the screen with fluid width (75%)*/



.clear:after {
    content: '';
    display: block;
    clear: both;
}
